.container
  .row
    .panel.panel-default
      .panel-heading
        .row
          .col-sm-8
            All blogs available
      .panel-body
        .row
          .center
            = will_paginate @blogs
          = render partial: 'blogs_table', locals: { blogs: @blogs }
          .center
            = will_paginate @blogs