- flash.each do |key, message|
  - if ['success', 'danger', 'warning'].include? key
    .alert{:class => "alert-#{key}"}
      %ul
        - if message.is_a? Array
          - message.each do |msg|
            %li= msg
        - else
          %li= message
  - flash.delete(key)